html 
{
 overflow: auto;
}
 
html, body, div, iframe 
{
 margin-right: 10px;
 margin-left: 30px; 
 padding: px; 
 height: 70%;
 border: none;
}

iframe 
{
 display: inline-block; 
 width: 31%; 
 margin: auto;
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}

header{
    background-color: rgb(102, 102, 102);
    margin-bottom: 20px;
}