html 
{
 overflow: auto;
}
 
html, body, iframe 
{
 margin-right: 10px;
 margin-left: 70px; 
 height: 72%;
 border: none;
 background-color: rgb(13, 17, 23);
}

iframe 
{
 display: inline-block; 
 width: 33%; 
 margin: auto;
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}